-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tpc
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `archive_bordereaux`
--

DROP TABLE IF EXISTS `archive_bordereaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archive_bordereaux` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_bordereaux` varchar(11) NOT NULL,
  `date` varchar(10) NOT NULL,
  `num_fact` varchar(10) NOT NULL,
  `pieces_jointe` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `num_fact` (`num_fact`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archive_bordereaux`
--

LOCK TABLES `archive_bordereaux` WRITE;
/*!40000 ALTER TABLE `archive_bordereaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `archive_bordereaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archive_reglement`
--

DROP TABLE IF EXISTS `archive_reglement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archive_reglement` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client` int(11) DEFAULT NULL,
  `num_fact_archive` varchar(32) NOT NULL,
  `prix_ttc` varchar(100) DEFAULT NULL,
  `etat_reglement` varchar(20) DEFAULT NULL,
  `num_cheque` varchar(250) DEFAULT NULL,
  `date_cheque` varchar(50) DEFAULT NULL,
  `retenue_date` varchar(50) DEFAULT NULL,
  `TypeReglement` varchar(250) DEFAULT NULL,
  `montant` varchar(250) NOT NULL,
  `dateReglement` varchar(250) NOT NULL,
  `pieceRs` varchar(250) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `client` (`client`,`num_fact_archive`),
  KEY `num_fact_archive` (`num_fact_archive`),
  CONSTRAINT `archive_reglement_ibfk_1` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `archive_reglement_ibfk_2` FOREIGN KEY (`num_fact_archive`) REFERENCES `archivefacture` (`num_fact`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=116 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archive_reglement`
--

LOCK TABLES `archive_reglement` WRITE;
/*!40000 ALTER TABLE `archive_reglement` DISABLE KEYS */;
/*!40000 ALTER TABLE `archive_reglement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archivebon_commande`
--

DROP TABLE IF EXISTS `archivebon_commande`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archivebon_commande` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_bon_commande` varchar(10) NOT NULL,
  `date_bon_commande` varchar(20) NOT NULL,
  `client` int(11) NOT NULL,
  `piecejointe` varchar(100) NOT NULL,
  `num_bon_commandeFournisseur` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `num_bon_commande` (`num_bon_commande`),
  KEY `client` (`client`),
  CONSTRAINT `archivebon_commande_ibfk_1` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archivebon_commande`
--

LOCK TABLES `archivebon_commande` WRITE;
/*!40000 ALTER TABLE `archivebon_commande` DISABLE KEYS */;
/*!40000 ALTER TABLE `archivebon_commande` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archivefacture`
--

DROP TABLE IF EXISTS `archivefacture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archivefacture` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_fact` varchar(32) NOT NULL,
  `client` int(11) DEFAULT NULL,
  `date` text DEFAULT NULL,
  `joindre` varchar(250) NOT NULL,
  `reglement` varchar(250) DEFAULT NULL,
  `typeReglement` varchar(250) DEFAULT NULL,
  `numcheque` varchar(250) DEFAULT NULL,
  `datecheque` varchar(250) DEFAULT NULL,
  `retenu` varchar(250) DEFAULT NULL,
  `Projets` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `client` (`client`),
  KEY `num_fact` (`num_fact`),
  KEY `idx_archivefacture_num_fact` (`num_fact`),
  CONSTRAINT `archivefacture_ibfk_1` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archivefacture`
--

LOCK TABLES `archivefacture` WRITE;
/*!40000 ALTER TABLE `archivefacture` DISABLE KEYS */;
/*!40000 ALTER TABLE `archivefacture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archiveoffre`
--

DROP TABLE IF EXISTS `archiveoffre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archiveoffre` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_offre` varchar(10) DEFAULT NULL,
  `factureArchive` varchar(32) NOT NULL,
  `client` int(11) DEFAULT NULL,
  `date` text DEFAULT NULL,
  `joindreOffre` varchar(250) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `client` (`factureArchive`),
  KEY `factureArchive` (`factureArchive`),
  KEY `client_2` (`client`),
  CONSTRAINT `archiveoffre_ibfk_1` FOREIGN KEY (`factureArchive`) REFERENCES `archivefacture` (`num_fact`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `archiveoffre_ibfk_2` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=116 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archiveoffre`
--

LOCK TABLES `archiveoffre` WRITE;
/*!40000 ALTER TABLE `archiveoffre` DISABLE KEYS */;
/*!40000 ALTER TABLE `archiveoffre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assurance`
--

DROP TABLE IF EXISTS `assurance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assurance` (
  `id_assurance` int(11) NOT NULL AUTO_INCREMENT,
  `contrat` varchar(250) DEFAULT NULL,
  `annee` int(11) DEFAULT NULL,
  `attestation_Bureau` varchar(250) DEFAULT NULL,
  `attestation_Voiture` varchar(250) DEFAULT NULL,
  `quitance_Bureau` varchar(250) DEFAULT NULL,
  `quitance_Voiture` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id_assurance`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assurance`
--

LOCK TABLES `assurance` WRITE;
/*!40000 ALTER TABLE `assurance` DISABLE KEYS */;
INSERT INTO `assurance` VALUES (3,'',2023,'ACFrOgD_IdXasJEeh3MMWbaw99W5V37SuwsVGaMvViGFacWBHPQtovZs3yUnCjAGxVO9FzgnEUfoVqPQ1bCut6EKM4Q1aXmPpQFpQ3fwp-htiuP6AqL-XafFioUb1GwUjPhhg9xoXvaU-UxkvhDP.pdf','','',''),(4,'ATT2024.zip',2024,'','','','assurance 2024.pdf'),(5,'',2025,'ATT2025.pdf','ATT2025.pdf','img20241205_10525464.pdf','QUITANCE2025.zip');
/*!40000 ALTER TABLE `assurance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bon_commande`
--

DROP TABLE IF EXISTS `bon_commande`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bon_commande` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_bon_commande` varchar(32) DEFAULT NULL,
  `date_bon_commande` varchar(20) DEFAULT NULL,
  `client` varchar(250) DEFAULT NULL,
  `piecejointe` varchar(100) DEFAULT NULL,
  `num_bon_commandeClient` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bon_cmd_num` (`num_bon_commande`),
  CONSTRAINT `fk_bon_commande_facture_v2` FOREIGN KEY (`num_bon_commande`) REFERENCES `facture` (`num_fact`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=752 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bon_commande`
--

LOCK TABLES `bon_commande` WRITE;
/*!40000 ALTER TABLE `bon_commande` DISABLE KEYS */;
/*!40000 ALTER TABLE `bon_commande` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bordereaux`
--

DROP TABLE IF EXISTS `bordereaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bordereaux` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_bordereaux` varchar(11) NOT NULL,
  `date` text NOT NULL,
  `num_fact` varchar(32) NOT NULL,
  `pieces_jointe` text NOT NULL,
  `type` text DEFAULT NULL,
  `adresse_bordereaux` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bord_num_fact` (`num_fact`),
  CONSTRAINT `fk_bordereaux_facture_v2` FOREIGN KEY (`num_fact`) REFERENCES `facture` (`num_fact`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=772 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bordereaux`
--

LOCK TABLES `bordereaux` WRITE;
/*!40000 ALTER TABLE `bordereaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `bordereaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type_client` varchar(200) DEFAULT NULL,
  `convention` varchar(100) DEFAULT NULL,
  `pieceConvention` varchar(250) DEFAULT NULL,
  `nom_client` varchar(200) DEFAULT NULL,
  `code_client` varchar(11) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `matriculeFiscale` varchar(100) DEFAULT NULL,
  `exonoration` varchar(100) DEFAULT NULL,
  `pieceExonoration` varchar(200) DEFAULT NULL,
  `tel` varchar(200) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `numexonoration` varchar(250) DEFAULT NULL,
  `ValiditeExonoration` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `matriculeFiscale` (`matriculeFiscale`),
  KEY `clent` (`nom_client`(191))
) ENGINE=InnoDB AUTO_INCREMENT=381 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cnss`
--

DROP TABLE IF EXISTS `cnss`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cnss` (
  `id_cnss` int(11) NOT NULL AUTO_INCREMENT,
  `recu_declaration` varchar(250) DEFAULT NULL,
  `trimestre` int(11) DEFAULT NULL,
  `annee` int(11) DEFAULT NULL,
  `recu_paiement` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id_cnss`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cnss`
--

LOCK TABLES `cnss` WRITE;
/*!40000 ALTER TABLE `cnss` DISABLE KEYS */;
/*!40000 ALTER TABLE `cnss` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dossiersclients`
--

DROP TABLE IF EXISTS `dossiersclients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dossiersclients` (
  `idDossier` int(11) NOT NULL AUTO_INCREMENT,
  `dossierTechnique` varchar(250) DEFAULT NULL,
  `dossierFournie` varchar(250) DEFAULT NULL,
  `typePiecesDossierFournie` text DEFAULT NULL,
  `client_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`idDossier`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `dossiersclients_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dossiersclients`
--

LOCK TABLES `dossiersclients` WRITE;
/*!40000 ALTER TABLE `dossiersclients` DISABLE KEYS */;
INSERT INTO `dossiersclients` VALUES (1,'','','czczeczec',116);
/*!40000 ALTER TABLE `dossiersclients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facture`
--

DROP TABLE IF EXISTS `facture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facture` (
  `id` int(255) NOT NULL AUTO_INCREMENT,
  `num_fact` varchar(32) NOT NULL,
  `client` int(11) DEFAULT NULL,
  `numboncommande` varchar(200) DEFAULT NULL,
  `date` text DEFAULT NULL,
  `reglement` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `num_fact_2` (`num_fact`),
  KEY `client` (`client`),
  KEY `numboncommande` (`numboncommande`(191)),
  CONSTRAINT `facture_ibfk_1` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=982 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facture`
--

LOCK TABLES `facture` WRITE;
/*!40000 ALTER TABLE `facture` DISABLE KEYS */;
/*!40000 ALTER TABLE `facture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facture_avoir`
--

DROP TABLE IF EXISTS `facture_avoir`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facture_avoir` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `num_avoir` varchar(32) NOT NULL,
  `num_fact` varchar(32) DEFAULT NULL,
  `num_fact_new` varchar(32) DEFAULT NULL,
  `id_client` int(11) NOT NULL,
  `date_avoir` date NOT NULL,
  `total_ht` decimal(12,3) NOT NULL DEFAULT 0.000,
  `total_tva` decimal(12,3) NOT NULL DEFAULT 0.000,
  `total_ttc` decimal(12,3) NOT NULL DEFAULT 0.000,
  `type_avoir` varchar(16) DEFAULT NULL,
  `pourcentage` decimal(6,3) DEFAULT NULL,
  `matriculeFiscale` varchar(64) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_num_avoir` (`num_avoir`),
  KEY `idx_num_fact` (`num_fact`),
  KEY `idx_id_client` (`id_client`),
  CONSTRAINT `fk_facture_avoir_client` FOREIGN KEY (`id_client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_facture_avoir_facture` FOREIGN KEY (`num_fact`) REFERENCES `facture` (`num_fact`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facture_avoir`
--

LOCK TABLES `facture_avoir` WRITE;
/*!40000 ALTER TABLE `facture_avoir` DISABLE KEYS */;
INSERT INTO `facture_avoir` VALUES (16,'01/25','52/2024','30/2025',176,'2025-11-17',4280.000,813.200,5093.200,'detail',NULL,'033245 A/A/M/000','2025-11-17 13:46:21'),(17,'02/25','160/2025','218/2025',350,'2025-11-17',2200.000,418.000,2618.000,'detail',NULL,NULL,'2025-11-17 14:57:44'),(18,'03/25','156/2025',NULL,312,'2025-11-17',500.000,95.000,595.000,'detail',NULL,'0011868H/A/M/000','2025-11-17 15:06:09'),(19,'04/25','69/2025','184/2025',208,'2025-11-17',735.000,0.000,735.000,'detail',NULL,'12799909 MAM 000','2025-11-17 15:16:29');
/*!40000 ALTER TABLE `facture_avoir` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facture_avoir_lignes`
--

DROP TABLE IF EXISTS `facture_avoir_lignes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facture_avoir_lignes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `avoir_id` int(11) NOT NULL,
  `projet_id` int(11) DEFAULT NULL,
  `libelle` varchar(1000) DEFAULT NULL,
  `prix_unit_htv` decimal(12,3) NOT NULL DEFAULT 0.000,
  `qte` decimal(12,3) NOT NULL DEFAULT 0.000,
  `tva` decimal(6,3) NOT NULL DEFAULT 19.000,
  `prixForfitaire` decimal(12,3) DEFAULT NULL,
  `prixTTC` decimal(12,3) DEFAULT NULL,
  `adresseClient` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `avoir_idx` (`avoir_id`),
  CONSTRAINT `fk_facture_avoir_lignes` FOREIGN KEY (`avoir_id`) REFERENCES `facture_avoir` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facture_avoir_lignes`
--

LOCK TABLES `facture_avoir_lignes` WRITE;
/*!40000 ALTER TABLE `facture_avoir_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `facture_avoir_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facture_projets`
--

DROP TABLE IF EXISTS `facture_projets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facture_projets` (
  `id_Projets_Facture` int(11) NOT NULL AUTO_INCREMENT,
  `facture` varchar(32) DEFAULT NULL,
  `prix_unit_htv` varchar(100) DEFAULT NULL,
  `qte` varchar(100) DEFAULT NULL,
  `tva` varchar(200) DEFAULT NULL,
  `remise` varchar(200) DEFAULT NULL,
  `prixForfitaire` varchar(200) DEFAULT NULL,
  `prixTTC` varchar(200) DEFAULT NULL,
  `projet` int(11) DEFAULT NULL,
  `adresseClient` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id_Projets_Facture`),
  KEY `projet` (`projet`),
  KEY `idx_fp_facture` (`facture`),
  CONSTRAINT `facture_projets_ibfk_2` FOREIGN KEY (`projet`) REFERENCES `projet` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_facture_projets_facture_v2` FOREIGN KEY (`facture`) REFERENCES `facture` (`num_fact`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5919 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facture_projets`
--

LOCK TABLES `facture_projets` WRITE;
/*!40000 ALTER TABLE `facture_projets` DISABLE KEYS */;
/*!40000 ALTER TABLE `facture_projets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grh`
--

DROP TABLE IF EXISTS `grh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grh` (
  `id_grh` int(11) NOT NULL AUTO_INCREMENT,
  `nomPersonnel` varchar(100) NOT NULL,
  `ADRESS` varchar(100) NOT NULL,
  `LibelleAdresse` varchar(250) NOT NULL,
  `TitreDiplome` varchar(250) DEFAULT NULL,
  `DIPLOME` varchar(100) NOT NULL,
  `TitreFormation` varchar(250) DEFAULT NULL,
  `FORMATION` varchar(100) NOT NULL,
  `fiche_paie` varchar(150) NOT NULL,
  `typeContrat` varchar(250) DEFAULT NULL,
  `CONTRAT` varchar(100) NOT NULL,
  `POSTE` varchar(100) NOT NULL,
  `numCin` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_grh`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grh`
--

LOCK TABLES `grh` WRITE;
/*!40000 ALTER TABLE `grh` DISABLE KEYS */;
/*!40000 ALTER TABLE `grh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offre_prix`
--

DROP TABLE IF EXISTS `offre_prix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offre_prix` (
  `id_offre` int(11) NOT NULL AUTO_INCREMENT,
  `num_offre` varchar(20) NOT NULL,
  `date` varchar(20) NOT NULL,
  `client` int(20) NOT NULL,
  PRIMARY KEY (`id_offre`),
  UNIQUE KEY `num_offre_3` (`num_offre`),
  KEY `client` (`client`),
  KEY `client_2` (`client`),
  KEY `client_3` (`client`),
  KEY `num_offre` (`num_offre`),
  KEY `client_4` (`client`),
  KEY `client_5` (`client`),
  KEY `num_offre_2` (`num_offre`),
  CONSTRAINT `offre_prix_ibfk_1` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=996 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offre_prix`
--

LOCK TABLES `offre_prix` WRITE;
/*!40000 ALTER TABLE `offre_prix` DISABLE KEYS */;
/*!40000 ALTER TABLE `offre_prix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offres_projets`
--

DROP TABLE IF EXISTS `offres_projets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offres_projets` (
  `id_Projets_Offre` int(11) NOT NULL AUTO_INCREMENT,
  `offre` varchar(1000) NOT NULL,
  `prix_unit_htv` varchar(100) DEFAULT NULL,
  `qte` varchar(100) DEFAULT NULL,
  `tva` varchar(200) DEFAULT NULL,
  `remise` varchar(200) DEFAULT NULL,
  `prixForfitaire` varchar(200) DEFAULT NULL,
  `prixTTC` varchar(200) DEFAULT NULL,
  `projet` int(11) DEFAULT NULL,
  `adresseClient` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id_Projets_Offre`),
  KEY `offre` (`offre`(768)),
  KEY `projet` (`projet`),
  CONSTRAINT `offres_projets_ibfk_1` FOREIGN KEY (`offre`) REFERENCES `offre_prix` (`num_offre`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `offres_projets_ibfk_2` FOREIGN KEY (`projet`) REFERENCES `projet` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5590 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offres_projets`
--

LOCK TABLES `offres_projets` WRITE;
/*!40000 ALTER TABLE `offres_projets` DISABLE KEYS */;
/*!40000 ALTER TABLE `offres_projets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projet`
--

DROP TABLE IF EXISTS `projet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projet` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `classement` varchar(500) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=158 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projet`
--

LOCK TABLES `projet` WRITE;
/*!40000 ALTER TABLE `projet` DISABLE KEYS */;
/*!40000 ALTER TABLE `projet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reglement`
--

DROP TABLE IF EXISTS `reglement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reglement` (
  `id_reglement` int(11) NOT NULL AUTO_INCREMENT,
  `client` int(11) DEFAULT NULL,
  `num_fact` varchar(32) NOT NULL,
  `prix_ttc` decimal(14,3) DEFAULT NULL,
  `etat_reglement` varchar(20) DEFAULT NULL,
  `num_cheque` varchar(50) DEFAULT NULL,
  `date_cheque` varchar(50) DEFAULT NULL,
  `retenue_date` varchar(50) DEFAULT NULL,
  `TypeReglement` varchar(250) DEFAULT NULL,
  `montant` varchar(250) DEFAULT NULL,
  `dateReglement` varchar(250) DEFAULT NULL,
  `pieceRs` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id_reglement`),
  KEY `client` (`client`),
  KEY `idx_regl_num_fact` (`num_fact`),
  CONSTRAINT `fk_reglement_facture_v2` FOREIGN KEY (`num_fact`) REFERENCES `facture` (`num_fact`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `reglement_ibfk_2` FOREIGN KEY (`client`) REFERENCES `clients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=816 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reglement`
--

LOCK TABLES `reglement` WRITE;
/*!40000 ALTER TABLE `reglement` DISABLE KEYS */;
/*!40000 ALTER TABLE `reglement` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-20 13:17:06
